/* Website formatting*/
/* Body */
body
{
	background-color:#070707;
}
/* Header */
.Header_Styling
{
	font-family:sans-serif;
}

.header
{
	background-color:#070707;
	height: 100px;
	width:100%;
	border-bottom:1px solid #cccccc;
	padding-bottom:15px;
	position:fixed;
	left:0;
	top:0;
}
.header-invis
{
	background-color:#070707;
	height: 100px;
	width:100%;
	/*border-bottom:1px solid #cccccc;
	padding-bottom:15px;
	position:fixed;
	left:0;
	top:0;*/
}

.header-logo
{
	float:left;
	line-height:0.0;
	background-color:#070707;
	border-right: 2px solid #070707;
	padding-top:20px;
	padding-right:50px;
	padding-left:68px;
	height:95px;
	font-family:"verdana";
	color:#cccccc;
}

.header-list
{
	float:left;
	padding-top:22px;
	margin-left:90px;
	border-bottom: 4px solid #cccccc;
	font-size:20px;
	line-height:0.9;
	height:45px;
	font-family:"impact";
	color:#cccccc;
}
.header-userbox
{
	text-align:right;
	float:right;
	height:95px;
	width:100px;
	padding-right:40px;
	padding-top:20px;
}
.header-userbox a
{
	border:2px solid #323232;
	background-color:#323232;
	font-family:"impact";
}

/* Main */
.main
{
	font-family:"verdana";
	color:#cccccc;
}
.main ul
{
	list-style:none;
	color:#cccccc;
	position:fixed;
	margin-top:2%;
	height:100%;
}
/* Footer */
.footer
{
	height:40px;
	width:100%;
	left:0;
	bottom:0;
	position:fixed;
	border-top:1px solid #cccccc;
}